<div class="container">
    <img style="z-index: 1;" class="" style="margin-left: 1082px;     position: absolute;"
        src="../../../../../assets/images/ramas_fondo.svg" />
    <div style="z-index:2;">
        <form id="contact" action="/contactanos">
            <fieldset>
                <input placeholder="Tu nombre es..." type="text" tabindex="1" required autofocus>
            </fieldset>
            <fieldset>
                <input placeholder="Tu Email" type="email" tabindex="2" required>
            </fieldset>
            <fieldset>
                <input placeholder="Tu Celular" type="tel" tabindex="3" required>
            </fieldset>
            <fieldset>
                <input placeholder="Asunto" type="text" tabindex="4" required>
            </fieldset>
            <fieldset>
                <textarea placeholder="Escribe aqui tu mensaje..." tabindex="5" required></textarea>
            </fieldset>

            <div style="display: flex;">
                <fieldset>
                    <button name="submit" type="submit" id="contact-submit" class="Button-principal"
                        data-submit="...Sending">Enviar</button>
                </fieldset>
                <fieldset>
                    <div class="Rectangle">
                        <ul>
                            <li style="display: flex;"> <img style="margin-right: 20px;
                                margin-bottom: 10px;" src="../../../../../assets/images/web-icon.svg" />
                                www.asoprimatologicacolombiana.org</li>
                            <li style="display: flex;"><img style="margin-right: 20px;
                                margin-bottom: 10px;"
                                    src="../../../../../assets/images/email-icon.svg" />asoprimatologica@gmail.com
                            </li>
                            <li style="display: flex; margin-bottom: 10px;"><img style="margin-right: 38px;
                                margin-bottom: 10px;" src="" />@primatesapc</li>
                            <li style="display: flex;"> <img style="margin-right: 20px;
                                margin-bottom: 10px;" src="../../../../../assets/images/location-icon.svg" />
                                Bogotá DC, Colombia</li>
                        </ul>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>

</div>