<article>
    <h1 class="Notiblogs">Notiblogs</h1>
    <div style="display: flex;">
        <div class="Rectangle">
            <div style="display: flex;">
                <img class="time-calendar" src="../../../../../assets/images/icons/calendar.svg" />
                <span class="-Apr-2020">17 Apr 2020</span>
            </div>
            <br>
            <span class="Ana-Mara-Maldonado">
                Ana María Maldonado, la bióloga Colombiana reconocida por NAT GEO
            </span>
        </div>
        <div class="Rectangle">
            <div style="display: flex;">
                <img class="time-calendar" src="../../../../../assets/images/icons/calendar.svg" />
                <span class="-Apr-2020">17 Apr 2020</span>
            </div>
            <br>
            <span class="Ana-Mara-Maldonado">
                Ana María Maldonado, la bióloga Colombiana reconocida por NAT GEO
            </span>
        </div>
        <div class="Rectangle">
            <div style="display: flex;">
                <img class="time-calendar" src="../../../../../assets/images/icons/calendar.svg" />
                <span class="-Apr-2020">17 Apr 2020</span>
            </div>
            <br>
            <span class="Ana-Mara-Maldonado">
                Ana María Maldonado, la bióloga Colombiana reconocida por NAT GEO
            </span>
        </div>
    </div>
    <div style="display: flex;">
        <div class="Rectangle">
            <div style="display: flex;">
                <img class="time-calendar" src="../../../../../assets/images/icons/calendar.svg" />
                <span class="-Apr-2020">17 Apr 2020</span>
            </div>
            <br>
            <span class="Ana-Mara-Maldonado">
                Ana María Maldonado, la bióloga Colombiana reconocida por NAT GEO
            </span>
        </div>
        <div class="Rectangle">
            <div style="display: flex;">
                <img class="time-calendar" src="../../../../../assets/images/icons/calendar.svg" />
                <span class="-Apr-2020">17 Apr 2020</span>
            </div>
            <br>
            <span class="Ana-Mara-Maldonado">
                Ana María Maldonado, la bióloga Colombiana reconocida por NAT GEO
            </span>
        </div>
        <div class="Rectangle">
            <div style="display: flex;">
                <img class="time-calendar" src="../../../../../assets/images/icons/calendar.svg" />
                <span class="-Apr-2020">17 Apr 2020</span>
            </div>
            <br>
            <span class="Ana-Mara-Maldonado">
                Ana María Maldonado, la bióloga Colombiana reconocida por NAT GEO
            </span>
        </div>
    </div>

</article>