<article class="monocapuchino_home">
    <img src="../../../assets/images/baner.png" style="width:100%;
    height: 568px;" />
    <div class="contenedor-encima">
        <h1 class="Rescatemos">
            Rescatemos a los primates Colombianos
        </h1>
        <p></p>
        <h5 class="Convirtete-en-volun">
            Conviértete en voluntario y únete a la conservación de las especies de primates que habitan en el país
        </h5>
        <span><img class="ButtonContainedLargeIcon-RightPrimaryDefault"
                src="../../../../../assets/images/unete_ahora.png" /></span>
    </div>
</article>