
.monocapuchino_home {
    height: 642px;
    opacity: 0.9;
    position: relative;
    display: inline-block;
  }


  .contenedor-encima{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
  }
  

.Rescatemos{
  width: 660px;
  height: 164px;
  margin: 0 0 5px;
  padding: 13px 322px 0 0;
  font-family: Lora-Regular_;
  font-size: 64px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -1px;
  color: #182f02;
}


.Convirtete-en-volun {
    width: 689px;
    height: 84px;
    margin: 5px 348px 133px 0;
    font-family: Lora;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: 0.18px;
    color: rgba(0, 0, 0, 0.87);
  }
  

  .ButtonContainedLargeIcon-RightPrimaryDefault {
    width: 173px;
    height: 42px;
    margin: -103px 341px 61px 0;
    object-fit: contain;
  }
