.Rectangle {
    height: 422px;
    border-radius: 1px;
    border: solid 1px #979797;
    background-color: #f9fbe7;
  }

  .Bitmap {
    width: 787px;
    height: 422px;
    opacity: 0.78;
    background-color: #96b030;
  }
  


  .contenedor-encima-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  .A-un-clic-de-conocer {
    width: 564px;
    height: 65px;
    margin: 0 52px 23px 135px;
    font-family: Lora-Regular_;
    font-size: 51px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }
  


  .Desde-donde-te-encue {
    width: 833px;
    height: 76px;
    margin: 23px 0 0;
    font-family: Lora-Regular_;
    font-size: 21px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.81;
    letter-spacing: 0.2px;
    text-align: center;
    color: #373737;
  }


  .Group-4 {
    height: 422.1px;
    object-fit: contain;
    position: relative;
  }
