<article>
    <div class="Group-4">
        <img src="../../../../../assets/images/banner_contactanos.png" style="
        margin-left: -352px; width: 126%;" />
        <div class="contenedor-encima-2">
            <h1 class="A-un-clic-de-conocer">
                A un clic de conocernos
            </h1>
            <p></p>
            <h5 class="Desde-donde-te-encue">
                Desde donde te encuentres, nos encantaría conocerte si estás interesado en unirte a nuestra asociación o
                tienes cualquier duda.
            </h5>
        </div>
    </div>
</article>