<article class="Group-6-Copy" style="padding-left: 146px;
padding-right: 146px;">
    <div>
        <h1 class="Asesores-expertos">Asesores expertos</h1>
        <div style="display: flex;">
            <h5 class="Thomas-R-Defler-Ph">
                <b>Thomas R. Defler, PhD.</b><br>
                ​Miembro Fundador<br>
                Asociación Primatológica Colombiana
            </h5>
            <h5 class="Angela-Maldonado-Ph ">
                <b> Angela Maldonado, PhD.</b> <br>
                ​Directora Científica<br>
                Fundación Entropika
            </h5>
        </div>
        <div style="display: flex;">
            <h5 class="Rosamira-Guilln-Ms">
                <b>Rosamira Guillén, Msc.</b><br>
                Directora Ejecutiva<br>
                Fundación proyecto Tití
            </h5>

            <h5 class="Nstor-J-Roncancio">
                <b> Néstor J. Roncancio, MSc.</b>
                <br>​Doctorado en Ciencias Agrarias<br>
                Universidad Nacional de Colombia
            </h5>
        </div>
        <div style="display: flex;">
            <h5 class="Xyomara-Carretero-Pi">
                <b>Xyomara Carretero Pinzón, </b><br>
                PhD. ​Directora<br>
                Proyecto Zocay
            </h5>
            <h5 class="Claudia-Brieva-MSc">
                <b>Claudia Brieva, MSc.</b><br>
                ​Directora , Unidad de Rehabilitación y Rescate<br>
                Universidad Nacional de Colombia
            </h5>
        </div>
    </div>
</article>