.Bitmap {
    width: 787px;
    height: 422px;
    margin: 0 0 0 525px;
    opacity: 0.69;
    background-color: #96b030;

}

.Text-FieldMediumOutlinedActive {
    width: 807px;
    height: 85px;
    margin: 61px 317px 16px 316px;
    object-fit: contain;
}

.Text-FieldMediumOutlinedEmpty {
    width: 807px;
    height: 79px;
    margin: 16px 317px 16px 316px;
    object-fit: contain;

}


._masterText-FieldOutlineDefault {
    width: 807px;
    height: 167px;
    margin: 16px 317px 24px 316px;
    padding: 16px 0 88px 14px;
    object-fit: contain;
}

.Rectangle {
    width: 807px;
    height: 192px;
    margin: 24px 317px 47px 316px;
    padding: 20px 435px 20px 31px;
    border-radius: 2px;
    border: solid 2px #96b030;
}


.wwwasoprimatologica {
    width: 308px;
    height: 152px;
    margin: 0 0 0 8px;
    font-family: Lato;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.24;
    letter-spacing: 0.16px;
    color: rgba(0, 0, 0, 0.87);
  }
  

  .Button-principal {
    width: 168px;
    height: 42px;
    margin: 47px 958px 304px 314px;
    object-fit: contain;
  }

  
  



