.Los-primates-son-to {
    width: 958px;
    height: 130px;
    margin-left: 191px;
    margin-right: 191px;
    font-family: Lora-Regular_; 
    font-size: 51px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }


  .La-mayoria-de-los-pr {
    width: 1173px;
    height: 70px;
    margin-left: 96px;
    margin-right: 96px;

    font-family: Lato;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    text-align: center;
    color: #212121;
  }


  .IMG_0530 {
    width: 299px;
    height: 290px;
    margin: 0 14px 24px;
  }

  
  .IMG_0531 {
    width: 299px;
    height: 290px;
    margin: 0 24px 31px;
  }


  .IMG_0532 {
    width: 299px;
    height: 290px;
    margin: 0 24px 31px;
  }

  .Cuida-los-Bosques {
    width: 308px;
    height: 46px;
    margin: 24px 9px 24px 10px;
    font-family: Lora-Regular_;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }
  
  .Disfruta-de-los-bosq {
    width: 327px;
    height: 105px;
    margin: 24px 0 0;
    font-family: Lato;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    text-align: center;
    color: #616161;
  }
  
  .No-son-mascotas {
    width: 280px;
    height: 46px;
    margin: 24px 60px;
    font-family: Lora-Regular_;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }

  .Solo-dmiralos-No-a {
    width: 282px;
    height: 105px;
    margin: 20px 36px 8px 64px;
    font-family: Lato;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    text-align: center;
    color: #616161;
  }


  .No-los-alimentes {
    width: 274px;
    height: 46px;
    margin: 28px 26px 20px 51px;
    font-family: Lora-Regular_;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }
  

  .Evita-darles-cualqui {
    width: 294px;
    height: 105px;
    margin: 24px 0 4px 48px;
    font-family: Lato;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    text-align: center;
    color: #616161;
  }


  #relatedContent {
    width:1024;
    margin:auto;
  }

.showcase {
	position:relative;
	height:250px;
	width:836px;
	overflow:auto;
	float:left;
}



.IMG_0526 {
  width: 428px;
  padding-top: 100px;
}

.Rincones-de-Colombia {
  width: 514px;
  height: 65px;
  font-family: Lora-Regular_;
  font-size: 51px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: rgba(0, 0, 0, 0.87);
}


.Los-Departamentos-se {
  width: 500px;
  height: 87px;
  margin: 24px 0 19px;
  font-family: Lato;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.52;
  text-align: justify;
  color: rgba(0, 0, 0, 0.87);
}


.ButtonOutlinedLargeIcon-RightPrimaryDefault {
  width: 431px;
  height: 72px;
  margin: 19px 126px 0 1px;
  object-fit: contain;
}

