<article>
    <h1 class="Los-primates-son-to">¡Los primates son todos unos agricultores!
        Ayuda a su conservación</h1>
    <h5 class="La-mayoria-de-los-pr">
        La mayoria de los primates ayudan a la regeneración de los bosques dispersando semillas a largos kilometros
        gracias a sus prodigiosas extremidades. Aplica estos métodos para cuidarlos
    </h5>
    <p></p>
    <div id="relatedContent">

        <div style="margin-left: 131px; margin-right: 131px;">
            <ul style="display: flex;">
                <span>
                    <li style="list-style:none"><img class="IMG_0530"
                            src="../../../../../assets/images/cuida los bosques.svg" alt="">
                        <h1 class="Cuida-los-Bosques">Cuida los Bosques</h1>
                        <h5 class="Disfruta-de-los-bosq">
                            Disfruta de los bosques, no los deforestes o maltrates con los desechos de basura .
                        </h5>
                </span>
                <span>
                    <li style="list-style:none"><img class="IMG_0531 "
                            src="../../../../../assets/images/no son mascotas.svg" alt="">
                    </li>
                    <h1 class="No-son-mascotas">No son mascotas</h1>
                    <h5 class="Solo-dmiralos-No-a">
                        Solo ádmiralos! No apoyes las prácticas que promueven el tráfico de fauna.
                    </h5>
                </span>
                <span>
                    <li style="list-style:none"><img class="IMG_0532"
                            src="../../../../../assets/images/no los alimentes.svg" alt="">
                    </li>

                    <h1 class="No-los-alimentes">No los alimentes</h1>
                    <h5 class="Evita-darles-cualqui">
                        Evita darles cualquier alimento para perjudicar su salud ni alterar el valioso trabajo que
                        realizan.
                    </h5>
                </span>
            </ul>
        </div>
    </div>
</article>

<p></p>
<article style="display: flex; margin-left: 78px;">
    <img src="../../../../../assets/images/rincones-colombia.svg" class="IMG_0526" />
    <div style="flex-direction: column; padding-top: 124px;
    padding-left: 70px;">
        <h1 class=" Rincones-de-Colombia">Rincones de Colombia</h1>
        <h5 class="Los-Departamentos-se"> Los Departamentos se toman me a mes la APC para mostrarte los hermosos
            primates que habitan en cada uno de ellos, conócelos y cuidalos. </h5>
        <img class="ButtonOutlinedLargeIcon-RightPrimaryDefault "
            src="../../../../../assets/images/explorarincones.png" />
    </div>
</article>