.Que-tu-aprendizaje-c {
    width: 943px;
    height: 144px;
    margin: 95.6px 129px 62px 249px;
    font-family: CantataOne;
    font-size: 51px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: -0.43px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }
  

  .Libros-estudios-y {
    width: 935px;
    height: 80px;
    margin: 62px 135px 86px 251px;
    font-family: Lato;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.27px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }
  

  .features {
    width: 344px;
    height: 326px;
    margin: 86px 45.6px 128px 148px;
    padding: 2px 0px 0 0;
  }
  

  .Rectangle {
    width: 76px;
    height: 76px;
    margin: 0 236px 248px 32px;
    padding: 19px 19px 20px 20px;
    border-radius: 38px;
    background-color: #f97e16;
  }
  

  .State {
    width: 344px;
    height: 281px;
    margin: 43px 0 0;
    padding: 65px 16px 33px 32px;
    border-radius: 15px;
    box-shadow: 0 0 77px 0 rgba(0, 0, 0, 0.06);
    background-color: rgba(0, 0, 0, 0.06);
  }

  .details {
    width: 296px;
    height: 90px;
    margin: 53px 0 0;
    font-family: Metropolis;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: 0.44px;
    color: rgba(55, 71, 79, 0.72);
  }

  .Button-Text {
    width: 138px;
    height: 22px;
    margin: 18px 158px 0 0;
    font-family: Lora-Regular_;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.44px;
    color: #717cff;
  }
