

.Nuestra-historia-un {
    width: 1006px;
    height: 144px;
    margin: 100px 20px 0px 173px;
    font-family: CantataOne;
    font-size: 51px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: -0.43px;
    color: rgba(0, 0, 0, 0.87);
  }

  .Historia_4 {
    width: 263.8px;
    height: 197.9px;
    margin: 64.3px 16.5px 64px 142.2px;
    object-fit: contain;
  }

  .Historia_11 {
    width: 263.8px;
    height: 197.9px;
    margin: 64.3px 16.5px 64px 16.5px;
    object-fit: contain;
  }

  .historia_6 {
    width: 263.8px;
    height: 197.9px;
    margin: 64.3px 17px 64px 16.5px;
    object-fit: contain;
  }

  .Historia_5 {
    width: 297.5px;
    height: 197.9px;
    margin: 64px 105.8px 64.3px 17px;
    object-fit: contain;
  }

  .La-Asociacin-Primat {
    width: 1143px;
    height: 378px;
    margin:-22px 86px -77px 141px;
    font-family: Lato;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.15px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.87);
  }


.Educacin-Conocer-p {
  height: 46px;
  margin: 47px 138px -6px 232px;
  font-family: Lora-Regular_;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.34px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}


.Programas-proyectos {
    width: 543px;
    height: 46px;
    margin: 72px 16px 0px 23px;
    font-family: Lora-Regular_;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.34px;
    text-align: right;
    color: rgba(0, 0, 0, 0.87);
  }

  .Bitmap {
    width: 317px;
    height: 189px;
    margin: 64px 23.8px 331.8px 362px;
    object-fit: contain;
  }
  