<article>
    <h1 class="Nuestra-historia-un">Nuestra historia,<br>
        una hermosa historia que contar…</h1>
    <div style="display: flex;">
        <img class="Historia_4" src="../../../../../assets/images/historia_1.svg" />
        <img class="Historia_11" src="../../../../../assets/images/Historia_3.svg" />
        <img class="historia_6" src="../../../../../assets/images/Historia_5.png" />
        <img class="Historia_5" src="../../../../../assets/images/historia_6.svg" />
    </div>

    <div>
        <h5 class="La-Asociacin-Primat">
            La Asociación Primatológica Colombiana fue constituida el 14 de diciembre de 2009, con miras a mejorar la
            representación del campo de la primatología en Colombia y a nivel internacional, y buscando ser el eje
            central de las actividades relacionadas con los primates Colombianos.
            ​
            En 10 años de gestión, la APC se ha convertido en una organización líder en el campo de la primatología a
            nivel nacional y regional, integrando las diversas ONG y grupos enfocados en el estudio y conservación de
            los primates en Colombia, y ayudando al crecimiento y fortalecimiento de la primatología en Latinoamérica.
            Así mismo, desde sus inicios la APC ha establecido alianzas y ha trabajado de la mano con numerosas
            entidades nacionales e internacionales, buscando aunar esfuerzos en torno a metas comunes en beneficio del
            estudio y la conservación de los primates en Colombia.
        </h5>
    </div>
</article>

<article>
    <h1 class="Educacin-Conocer-p">Educación: Conocer para conservar</h1>
    <div style="display: flex;">
        <img class="Historia_4" src="../../../../../assets/images/educacion_conocer1.svg" />
        <img class="Historia_11" src="../../../../../assets/images/educacion_conocer4.svg" />
        <img class="historia_6" src="../../../../../assets/images/educaciom_conocer2.svg" />
        <img class="Historia_5" src="../../../../../assets/images/educaion_conocer3.svg" />
    </div>
</article>

<article style="padding-left: 369px">
    <h1 class="Programas-proyectos">Programas, proyectos y recursos</h1>
    <div style="display: flex;">
        <img class="historia_6" src="../../../../../assets/images/svapc.svg" />
        <img class="Historia_5" src="../../../../../assets/images/redprimatologica.svg" />
    </div>
</article>