<div class="Rectangle">
  <div style="display: flex;">
    <span style="padding-right: 24%;">
      <a href="/">
        <img style="margin-left: 15px;" src="../assets/images/LogoAPC2021.svg"
          alt="Asociaci&amp;oacute;n Primatol&amp;oacute;gica Colombiana">
      </a>
    </span>

    <ul class="navegacion">
      <li>
        <a routerLink="inicio" class="Home">
          Home
        </a>
      </li>
      <li>
        <a routerLink="quienesomos" class="Quienes-Somos">
          ¿Quiénes somos?
        </a>
      </li>
      <li>
        <a routerLink="aprende" class="Aprende-con-Nosotros">
          Aprende con Nosotros
        </a>

      </li>
      <li>
        <a routerLink="unete" class="unete-participa">
          Unete y Participa
        </a>
      </li>
      <li>
        <a routerLink="contactanos" class="Contactanos">
          Contactanos
        </a>
      </li>

      <li>
        <button class="btn success" routerLink="unete"><span class="Button-Text">UNETE </span></button>
      </li>
    </ul>
  </div>
</div>