
.Rectangle {
    height: 59px;
    margin: 0 0 4px;
    padding: 16px 148px 5px 147px;
    border-radius: 1px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    background-color: #fafafa;
  }
  

.Home{
    width: 1440px;
    height: 5252px;
  }

  .Apoyanos {
    width: 62px;
    height: 20px;
    margin: 10px 24px 0;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.54);
  }
  

  .Quienes-Somos {
    width: 108px;
    height: 20px;
    margin: 10px 24px 0;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.54);
  }
  

  .Aprende-con-Nosotros {
    width: 141px;
    height: 20px;
    margin: 10px 24px 0;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.54);
  }
  
  .unete-participa {
    width: 108px;
    height: 20px;
    margin: 10px 5px 0;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.54);
  }


  .Contactanos {
    width: 80px;
    height: 20px;
    margin: 10px 24px 0;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.54);
  }

  .shop{
    width: 80px;
    height: 20px;
    margin: 10px 25px 0;
  }

  .iconsfilledactionshopping_cart_24px {
    width: 24px;
    height: 23px;
    margin: 0 8px 0 0;
    padding: 2px 3px 2px 1px;
  }


  .number-cart{
    width: 17px;
    height: 20px;
    margin: 1px 0 2px 8px;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.15px;
    color: #000000;
  }



  .Button-Text {
    width: 54px;
    height: 24px;
    font-family: Lato;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: 0.32px;
    text-align: center;
    color: #558b2f;
  }


  ul.navegacion li {
    display: inline;
}

.navegacion{
  margin-top: 15px;
}

a {
    text-decoration: none;
}



.btn {
  border: 1px solid #96b030;
  color: #96b030;
  padding: 1px 11px;
  font-size: 16px;
  background: transparent;
  cursor: pointer;
}

.success{
  width: 80px;
  height: 32px;
  color: #96b030;
  border-radius: 4px;
  border: solid 1px rgba(85, 139, 47, 0.5);
}

.Icon-Style{
  color: #96b030;
}