.CuidMONOS {
    width: 362px;
    height: 72px;
    margin: 0 747px 16px 1px;
    font-family: CantataOne;
    font-size: 51px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: -0.43px;
    color: rgba(0, 0, 0, 0.87);
  }


  .Recursos-creativos-i {
    width: 1110px;
    height: 20px;
    margin: 16px 0 0;
    font-family: Lato;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: 0.27px;
    color: rgba(0, 0, 0, 0.87);
  }
  

  .Rectangle-Copy-2 {
    width: 270.8px;
    height: 285px;
    margin:59px -132px 96px 148px;
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);    
  }