<article>
    <h1 class="CuidMONOS">CuidéMONOS</h1>
    <h5 class="Recursos-creativos-i">Recursos creativos infantiles para explotar mágicas habilidades</h5>

    <img class="Rectangle-Copy-2" src="../../../../../assets/images/recurso1.png" />
    <img class="Rectangle-Copy-2" src="../../../../../assets/images/recurso2.png" />
    <img class="Rectangle-Copy-2" src="../../../../../assets/images/recurso3.png" />
    <img class="Rectangle-Copy-2" src="../../../../../assets/images/recurso4.png" />
</article>