.Rectangle-Aotus-lemurins-2-Mask {
    height: 422px;
    object-fit: contain;
}
  

  .Nuestro-equipo-2021 {
    width: 594px;
    height: 82px;
    margin: 0 182px 16px 181px;
    font-family: Lora-Regular_;
    font-size: 64px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1px;
    color: #fafafa;
  }
  
  .Un-equipo-altamente {
    width: 881px;
    height: 92px;
    margin: 16px 0 0;
    font-family: Lora-Regular_;
    font-size: 36px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.34px;
    text-align: center;
    color: #fafafa;
  }


  .contenedor-encima-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
