<article>
    <div class="Rectangle-Aotus-lemurins-2-Mask">
        <img src="../../../../../assets/images/banner_quienesomos.png" style="
        margin-left:-157px; width: 112%; height: 420px;" />
        <div class="contenedor-encima-2">
            <h1 class="Nuestro-equipo-2021">
                Nuestro equipo 2021
            </h1>
            <p></p>
            <h5 class="Un-equipo-altamente">
                Un equipo altamente calificado y apasiado por la primatología, conforman la Asociación
            </h5>
        </div>
    </div>
</article>