.title {
    height: 48px;
    margin: 42px 17px 7px 0;
    font-family: Lato !important;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.2px;
    color: rgba(0, 0, 0, 0.87);
  }
  

  .details-1{
    width: 348px;
    height: 164px;
    margin: 7px 15px 0 0;
    font-family: Lato;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: 0.16px;
    color: rgba(0, 0, 0, 0.54);
  }

  .details-2 {
    width: 348px;
    height: 164px;
    margin: 7px 15px 0 0;
    font-family: Lato;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: 0.16px;
    color: rgba(0, 0, 0, 0.54);
  }

  .details-3{
    width: 348px;
    height: 164px;
    margin: 7px 15px 0 0;
    font-family: Lato;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: 0.16px;
    color: rgba(0, 0, 0, 0.54);
  }

.Rectangle-Copy-2 {
    width: auto;
    height: 961px;
    margin: 40px 0 98px;
    opacity: 0.79;
    background-image: url('../../../../../assets/images/fondoverde.png');
    background-position-x: -224px;
    background-repeat: no-repeat;
    

}


.Conoce-las-especies {
  width: 460px;
  height: 65px;
  margin-left: 484px;
  margin-right: 496px;
  padding-top: 110px;
  font-family: Lora-Regular_;
  font-size: 51px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.8px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}


.En-nuestra-asociaci {
  width: 987px;
  height: 76px;
  margin-left: 220px;
  margin-right: 230px;
  margin-top: 40px;
  font-family: Lato;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.81;
  letter-spacing: 0.2px;
  text-align: center;
  color: #373737;
}


.Rectangle-Copy-4 {
  width: 363px;
  height: 245px;
  margin: 0 0 43px;
  object-fit: contain;
  border-radius: 24px;

}

._masterButtonTextMediumIcon-Right {
    width: 137px;
    height: 45px;
    margin: 648px 12px 29px 187px;
    object-fit: contain;
    background-color: #558b2f;
  }


  ._ignoreColor-SymbolTintable-black {
    width: 13px;
    height: 13px;
    object-fit: contain;
  }
  

  

  .btn {
    color: #96b030;
    padding: 1px 11px;
    font-size: 16px;
    background: transparent;
    cursor: pointer;
  }
  
  .success{
    width: 80px;
    height: 32px;
    color: #96b030;
  }