<article style="height: 1046px;">
    <h1 class="Nuestro-equipo ">Nuestro equipo</h1>
    <div class="content-img">
        <ul style="display:flex">
            <li style="list-style:none"><a href="#">
                    <img class="margin-img Screen-Shot-2021-04-13-at-22303"
                        src="../../../../../assets/images/img-1.svg"></a></li>

            <li style="list-style:none"> <a href="#"><img class="margin-img Felipe-aramburo"
                        src="../../../../../assets/images/img-2.svg"></a></li>

            <li style="list-style:none"><a href="#"><img class="margin-img  Nicolas-Botero-henao"
                        src="../../../../../assets/images/img-3.svg"></a></li>


            <li style="list-style:none"><a href="#"><img class="margin-img Carolina-orrego "
                        src="../../../../../assets/images/img-4.svg"></a></li>


            <li style="list-style:none"><a href="#">
                    <img class="margin-img  Carolina-garcia" src="../../../../../assets/images/img-5.svg"></a></li>
        </ul>
    </div>

    <div class="content-img-2">
        <ul style="display:flex">
            <li style="list-style:none"> <a href="#"><img class="margin-img Carolina-gomez-posada"
                        src="../../../../../assets/images/img-6.svg"></a></li>
            <li style="list-style:none"><a href="#"><img class="margin-img sebastian-bustamante"
                        src="../../../../../assets/images/img-7.svg"></a></li>
            <li style="list-style:none"><a href="#"><img class="margin-img Juansebastian_orozcomontilla"
                        src="../../../../../assets/images/img-8.svg"></a></li>
            <li style="list-style:none"><a href="#"><img class="margin-img anessa-bustamante "
                        src="../../../../../assets/images/img-9.svg"></a></li>
        </ul>
    </div>

    <p></p>

    <h5 class="Lorem-ipsum-dolor-s">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut sunt in culpa qui
        officia deserunt mollit anim id est laborum."</h5>

    <p></p>
    <br>
    <img class="ButtonOutlinedLargeText-OnlyPrimaryDefault " src="../../../../../assets/images/conoceelequipo.png" />
    <p></p>
    <img class="" style="margin: -195px;" src="../../../../../assets/images/Hojas_abajo.svg" />
</article>