
.Nuestro-equipo {
  width: 359px;
  height: 65px;
  margin-left: 552px;
  font-family: Lora-Regular_;
  font-size: 51px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.8px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}


.Screen-Shot-2021-04-13-at-22303 {
  width: 146.6px;
  height: 177.2px;
  margin: 85.4px 15.8px 33.4px 148px;
  opacity: 0.85;

}


.Felipe-aramburo {
  width: 205.5px;
  height: 177.2px;
  margin: 85.4px 17px 33.4px 15.8px;
  opacity: 0.85;
}



.Nicolas-Botero-henao {
  width: 244.1px;
  height: 177.2px;
  margin: 85.4px 16px 33.4px 17px;
  opacity: 0.85;
}


.Carolina-orrego {
    width: 244.1px;
    height: 177.2px;
    margin: 85.4px 18px 33.4px 16px;
    opacity: 0.85;
  }


  .Carolina-garcia {
    width: 236px;
    height: 178.2px;
    margin: 84.9px 101px 32.9px 18px;
    opacity: 0.85;
  }

  .Carolina-gomez-posada {
    width: 262px;
    height: 230px;
    margin: 33.9px 17px 84px 197px;
    opacity: 0.85;
  }


  .sebastian-bustamante {
    width: 223px;
    height: 230px;
    margin: 33.9px 18px 84px 17px;
    opacity: 0.85;
  }
  
  .Juansebastian_orozcomontilla {
    width: 273px;
    height: 230px;
    margin: 33.9px 17px 84px 18px;
    opacity: 0.85;
  }
  

  .vanessa-bustamante {
    width: 236px;
    height: 232px;
    margin: 32.9px 149px 83px 17px;
    opacity: 0.85;
  }
  


  .Lorem-ipsum-dolor-s {
    width: 1143px;
    height: 102px;
    margin: 83px 100px 31.2px 149px;
    font-family: Lato;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.62;
    letter-spacing: 0.2px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }



  .ButtonOutlinedLargeText-OnlyPrimaryDefault {
    width: 323.9px;
    height: 72.2px;
    margin: 59.4px 125.1px 339.4px 42.2px;
    object-fit: contain;
  }


  .IMG_0187-Copy {
    width: 205px;
    height: 337.7px;
    margin: 98.1px 105.3px 220.2px 0;
    transform: rotate(-6deg);
  }  

  .content-img{
    padding-left: 148px;
    padding-right: 148px;
    margin: 5px;
  }

  .content-img-2{
    padding-left: 197px;
    padding-right: 197px;
    margin: 5px;
  }

  .margin-img{
    margin: 5px;
  }

  

  .ButtonOutlinedLargeText-OnlyPrimaryDefault {
    width: 323.9px;
    height: 72.2px;
    margin: 48.4px 33.1px -120.6px 537.2px;
    object-fit: contain;
  }