.El-tablero-para-pro {
    width: 1147px;
    height: 143px;
    margin: 94.5px 30px 32px 144px;
    font-family: Lora-Regular_;
    font-size: 51px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: center;
    color: rgba(0, 0, 0);
  }

  .Un-espacio-para-que {
    width: 807px;
    height: 56px;
    margin: 32px 197px 55.4px 317px;
    font-family: Lato;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.24;
    letter-spacing: normal;
    text-align: center;
    color: #373737;
  }

  .Group-4 {
    width: 809px;
    height: 345.6px;
    margin: 55.4px 197px 63px 315px;
    object-fit: contain;
  }

  .ButtonContainedMediumIcon-RightPrimaryDefault {
    width: 265.3px;
    height: 61.8px;
    margin: 63px 84.3px 95.6px 72px;
    object-fit: contain;
  }
  