<article class="Quienes-somos">
    <h1 class="Nuestra-misin">Nuestra misión</h1>
    <div style="display: flex;">
        <h5 class="Contribuir-a-la-cons">Contribuir a la conservación de los primates Colombianos mediante el apoyo a la
            investigación básica y
            aplicada en primatología.

            Promover el establecimiento de una legislación que favorezca la conservación de los ecosistemas y la gestión
            de recursos orientados al desarrollo de los objetivos de la Asociación.</h5>
        <img src="../../../../../assets/images/nuestramision_.svg" class="IMG_0536">

    </div>
</article>

<article style="display: flex;padding-left: 148px;padding-right: 146px;
padding-bottom: 50px;">
    <img src="../../../../../assets/images/nuestravision_.svg" class="Group-2">
    <div style="display: flex;">

        <h5 class="Consolidarnos-como-u">
            <h1 class="Nuestra-visin">Nuestra visión</h1>
            Consolidarnos como una institución de referencia para la primatología a nivel nacional e internacional, y un
            ente consultor de las autoridades ambientales para definir las políticas tendientes a la conservación de las
            especies de primates nativas.
        </h5>
    </div>
</article>