
  .El-mundo-de-los-prim {
    width: 1133px;
    height: 82px;
    margin: 130px 19px 64px 0;
    font-family: Lora-Regular_;
    font-size: 64px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1px;
    color: #fafafa;
  }

  .Un-habitat-para-los {
    width: 859px;
    height: 82px;
    margin: 0 49px 16px;
    font-family: Lora-Regular_;
    font-size: 64px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  


  .Con-tu-compra-contri {
    width: 957px;
    height: 126px;
    margin: 16px 0 0;
    font-family: CantataOne;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.68;
    letter-spacing: 0.18px;
    text-align: center;
    color: rgba(0, 0, 0);
  }


  .De-acuerdo-con-el-ac {
    width: 1152px;
    height: 200px;
    margin: 64px 0 0;
    font-family: Lato;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.9;
    letter-spacing: normal;
    text-align: justify;
    color: #fafafa;
  }
  

  .DSC_0435 {
    height: 729px;
    object-fit: contain;
  }