*{
    margin: 0px;
  }
  body{
    background: url("https://images.prismic.io/rluijtenant/e68e600b-ff64-4cc7-919e-c960062d7b88_chamonix-4.jpg?auto=compress,format&fit=clip&auto=compress&w=1293.8646160284577&h=862.6666666666666&dpr=2");
    background-size: 1920px;
    
  }
  #cardd{
    position:relative;
    align-content:center;
    width: 256px;
    height: 332px;
    padding: 10px 15px 50px 10px;
    border-radius: 8px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 7px 0 rgba(0, 0, 0, 0.14);
        
  }
  .pp{
    width: 96px;
    height: 96px;
    border-radius:70px;
    margin-left: 32%;
    margin-top:2%;
    object-fit: contain;
  }
  h3{
    font-family: century-gothic,sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align:center;
  }
  h5{
    color:gray;
    font-family: komet,sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align:center;
  }
  #icons{
    margin-top:30%;
    margin-left:17%;
  }
  .icon{
    margin-top:20px;
    margin:10px;
    width:30px;
  }
  .twitter{
    transition: 1s;
    fill:#000000;
  }
  .twitter:hover{
    transition: 1s;
    fill:#00acee;
  }
  .in{
    transition: 1s;
    fill:#000000;
  }
  .in:hover{
    transition: 1s;
    fill:#0e76a8;
  }
  .website{
    transition: 1s;
    fill:#000000;
  }
  .website:hover{
    transition: 1s;
    fill:#db4a39;
  }


  
  .cargo {
    width: 172px;
    height: 20px;
    margin: 15px 91px 8px 46px;
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.16px;
    text-align: center;
    color: #558b2f;
  }


  .nombre{
    width: 181px;
    height: 20px;
    margin: 8px 38px 4px 39px;
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }


  .descripcion {
    width: 258px;
    height: 36px;
    margin: 4px 0 0;
    font-family: Lato;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.14px;
    text-align: center;
    color: #373737;
  }


  .correo {
    width: 153px;
    height: 22px;
    margin: 18px 52px 32px 53px;
    font-family: Lato;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.2;
    letter-spacing: 0.11px;
    text-align: center;
    color: #558b2f;
  }


  .carrera {
    width: 248px;
    height: 89px;
    margin: 32px 0 0 10px;
    font-family: Lato;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: 0.16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }